@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600;700&family=Poppins:wght@700;900&display=swap);

/* .card {
    border: solid;
    border-radius: 5px;
    border-color: #026BDF;
    width: 30%;
}

.fullname {
    font-family: Poppins;
    background-color: rgba(244, 232, 6, 0.5);
    width: max-content;
    font-weight: 900;
    font-size: 24px;
}

.username {
    font-family: Poppins;
    color: #026BDF;
    font-weight: 900;
    font-size: 16px;
} */

