/* @import url(https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&display=swap); */
@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600;700&family=Poppins:wght@700;900&display=swap);

html {
    background-color: #FFFCF5;
}

.blogHome {
    margin-left: 200px;
    margin-right: 300px;
}

.titleArea {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: Poppins;
    font-weight: 900;
    font-size: 96px;
    letter-spacing: 0.1em;

    color: rgba(244, 232, 6, 1);

    margin-bottom: -200px;
}

h4 {
    font-family: Poppins;
    font-weight: 900;
    font-size: 96px;
    letter-spacing: 0.1em;

    position: relative;
    top: -65px;
    left: 10px;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #026BDF;

    color: rgba(244, 232, 6, 0);

    margin-bottom: -80px;
}

h2 {
    font-family: IBM Plex Mono;
    font-size: 36px;
    font-weight: 600;
    color: #026BDF;

    margin-bottom: -30px;
}

h3 {
    font-family: IBM Plex Mono;
    font-size: 24px;
    font-weight: 600;

    align-self: flex-end;
}

.authorCards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* card styling */
.card {
    border: solid;
    border-radius: 5px;
    border-color: #026BDF;
    width: 30%;
    padding: 15px;
    margin-bottom: 15px;
}

.fullname {
    font-family: Poppins;
    background-color: rgba(244, 232, 6, 0.5);
    width: max-content;
    font-weight: 900;
    font-size: 24px;
    
    margin-bottom: 5px;
}

.username {
    font-family: Poppins;
    color: #026BDF;
    font-weight: 900;
    font-size: 16px;

    margin-bottom: 30px;
}

.postTitle {
    list-style: url('bullet.svg'); 
    font-family: IBM Plex Mono;
    font-size: 18px;
    font-weight: 700;
    color: #026BDF;
    margin-bottom: 10px;

}

.postBody {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    font-family: IBM Plex Mono;
    margin-bottom: 20px;
}

a:link {
    text-decoration: none;
}
  
  /* visited link */
a:visited {
    text-decoration: none;
}

a:visited .fullname {
    color: #026BDF;
}

.card:hover {
    transform: translate3D(0,-1px,0) scale(1.03);
}




